<center>
<h2> BÀI TẬP MÔN HỌC </h2>
</center>

---
Thông tin sinh viên:
1. Họ tên: Trần Huy Hoàng
2. Mã SV: 2121050251
3. Lớp: DCCTCT66_05E

---

Yêu cầu:
- Đọc dữ liệu trong file exce: Data_Practice_ML.xlsx
- Hiển thị tổng quan dữ liệu; các bản ghi
- Đặc trưng thống kê của dữ liệu
- Kiểm tra dữ liệu null

In [5]:
import pandas as pd
df_p = pd.read_excel('Data/Data_Practice_ML.xlsx')
df_p

    PatientID     Sex   Age  weight      Shape         Margin Density  Target
0          P1  Female  67.0      68    Lobular     Spiculated     Low       1
1          P2  Female  43.0      53      Round  Circumscribed     NaN       1
2          P3  Female  58.0      59  Irregular     Spiculated     Low       1
3          P4  Female  28.0      74      Round  Circumscribed     Low       0
4          P5  Female  74.0      68      Round     Spiculated     NaN       1
..        ...     ...   ...     ...        ...            ...     ...     ...
956      P957  Female  47.0      45       Oval  Circumscribed     Low       0
957      P958  Female  56.0      52  Irregular     Spiculated     Low       1
958      P959  Female  64.0      67  Irregular     Spiculated     Low       0
959      P960  Female  66.0      69  Irregular     Spiculated     Low       1
960      P961  Female  62.0      50    Lobular       Obscured     Low       0

[961 rows x 8 columns]

In [10]:
# Hiển thị tổng quan dữ liệu; các bản ghi
df_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PatientID  961 non-null    object
 1   Sex        961 non-null    object
 2   Age        956 non-null    float64
 3   weight     961 non-null    int64
 4   Shape      930 non-null    object
 5   Margin     913 non-null    object
 6   Density    885 non-null    object
 7   Target     961 non-null    int64
dtypes: float64(1), int64(2), object(5)
memory usage: 60.2+ KB

In [6]:
# đặc trưng thống kê của dữ liệu:
df_p.describe()

              Age      weight      Target
count  956.000000  961.000000  961.000000
mean    56.306485   62.529657    0.463059
std     30.044212   10.265304    0.498893
min     18.000000   45.000000    0.000000
25%     45.000000   54.000000    0.000000
50%     57.000000   63.000000    0.000000
75%     66.000000   71.000000    1.000000
max    870.000000   80.000000    1.000000

In [7]:
# Kiểm tra dữ liệu null
df_p.isnull().sum()

PatientID     0
Sex           0
Age           5
weight        0
Shape        31
Margin       48
Density      76
Target        0
dtype: int64

In [8]:
#Liệt kê ds bản ghi có thuộc tính NaN
df_p[df_p.isnull().any(axis=1)]

,PatientID,Sex,Age,weight,Shape,Margin,Density,Target
1,P2,Female,43.0,53,Round,Circumscribed,NaN,1
4,P5,Female,74.0,68,Round,Spiculated,NaN,1
5,P6,Female,65.0,73,Round,NaN,Low,0
6,P7,Female,70.0,67,NaN,NaN,Low,0
7,P8,Female,42.0,77,Round,NaN,Low,0
...,...,...,...,...,...,...,...,...
778,P779,Female,60.0,65,NaN,ill-defined,Low,0
819,P820,Female,35.0,62,Lobular,NaN,Iso,0
824,P825,Female,40.0,74,NaN,Obscured,Fat-containing,1
884,P885,Female,NaN,49,Irregular,ill-defined,Low,1
923,P924,Female,NaN,62,Irregular,Obscured,Low,1